/* #region base-styles */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  /* Custom Scrollbar */
  .nft-scrollbar::-webkit-scrollbar {
    @apply hidden;
  }
}
/* #endregion */

/* #region custom-theme-switcher-colors */
/* Custom Theme Switcher Colors */
.default {
  --portfolio-background: #1e8cb1;
  --portfolio-card-background: #fbc038;
  --portfolio-card-border: #e96b0c;
  --portfolio-text-primary: #ffffff;
  --portfolio-text-secondary: #d63554;
}

/* Light Theme */
.light {
  --portfolio-background: #FFFFFF;
  --portfolio-card-background: #79d5ff;
  --portfolio-card-border: #FF4D4F;
  --portfolio-text-primary: #000000;
  --portfolio-text-secondary: #0066FF;
}

/* Dark Theme */
.dark {
  --portfolio-background: #121212;
  --portfolio-card-background: #606060;
  --portfolio-card-border: #BBBBBB;
  --portfolio-text-primary: #E0E0E0;
  --portfolio-text-secondary: #e7e700;
}

/* Monochrome */
.monochrome {
  --portfolio-background: #333333;
  --portfolio-card-background: #555555;
  --portfolio-card-border: #8C8C8C;
  --portfolio-text-primary: #AAAAAA;
  --portfolio-text-secondary: #F2F2F2;
}

/* Cyberpunk */
.cyberpunk {
  --portfolio-background: #1A1A40;
  --portfolio-card-background: #00E1FF;
  --portfolio-card-border: #710000;
  --portfolio-text-primary: #CCFF00;
  --portfolio-text-secondary: #CB1DCD;
}

/* Retro */
.retro {
  --portfolio-background: #f98f0e;
  --portfolio-card-background: #FFCA3A;
  --portfolio-card-border: #A71D31;
  --portfolio-text-primary: #8C1C13;
  --portfolio-text-secondary: #111111;
}

/* Forest */
.forest {
  --portfolio-background: #2B5C2E;
  --portfolio-card-background: #B0CDA0;
  --portfolio-card-border: #09a206;
  --portfolio-text-primary: #D9F2C3;
  --portfolio-text-secondary: #1e3802;
}

/* Aqua */
.aqua {
  --portfolio-background: #003D5B;
  --portfolio-card-background: #B1F1F5;
  --portfolio-card-border: #007D7E;
  --portfolio-text-primary: #006778;
  --portfolio-text-secondary: #00CED1;
}

/* Pastel */
.pastel {
  --portfolio-background: #FFDAB9;
  --portfolio-card-background: #e672b9;
  --portfolio-card-border: #bb3905;
  --portfolio-text-primary: #F5A9B8;
  --portfolio-text-secondary: #6c035f;
}

/* Midnight */
.midnight {
  --portfolio-background: #191970;
  --portfolio-card-background: #B2B2E5;
  --portfolio-card-border: #5F5FFF;
  --portfolio-text-primary: #E1E1F5;
  --portfolio-text-secondary: #4C4CFF;
}

/* Solarized */
.solarized {
  --portfolio-background: #073642;
  --portfolio-card-background: #268BD2;
  --portfolio-card-border: #002B36;
  --portfolio-text-primary: #EEE8D5;
  --portfolio-text-secondary: #073642;
}

/* Ocean */
.ocean {
  --portfolio-background: #013A63;
  --portfolio-card-background: #0288D1;
  --portfolio-card-border: #014F86;
  --portfolio-text-primary: #E1F5FE;
  --portfolio-text-secondary: #014F86;
}

/* Sunset */
.sunset {
  --portfolio-background: #F97306;
  --portfolio-card-background: #3E2723;
  --portfolio-card-border: #ff4343;
  --portfolio-text-primary: #FDF4F4;
  --portfolio-text-secondary: #FFB74D;
}

/* Lavender */
.lavender {
  --portfolio-background: #B39DDB;
  --portfolio-card-background: #9575CD;
  --portfolio-card-border: #5E35B1;
  --portfolio-text-primary: #FAF2FF;
  --portfolio-text-secondary: #001aff;
}

/* Vintage */
.vintage {
  --portfolio-background: #D9BF77;
  --portfolio-card-background: #5D4037;
  --portfolio-card-border: #8D6E63;
  --portfolio-text-primary: #3E2723;
  --portfolio-text-secondary: #FFCA28;
}

/* Candy */
.candy {
  --portfolio-background:  #D81B60;
  --portfolio-card-background: #FF4081;
  --portfolio-card-border: #c6295e;
  --portfolio-text-primary: #F48FB1;
  --portfolio-text-secondary:  #880E4F;
}

/* Neon */
.neon {
  --portfolio-background:  #0B132B;
  --portfolio-card-background:  #5BC0BE;
  --portfolio-card-border: #6FFFE9;
  --portfolio-text-primary: #FFFFFF;
  --portfolio-text-secondary:  #3A506B;
}

/* Earth */
.earth {
  --portfolio-background:  #5C4033;
  --portfolio-card-background:   #C2B280;
  --portfolio-card-border: #964B00;
  --portfolio-text-primary: #F4F1E3;
  --portfolio-text-secondary:  #5C4033;
}

/* Autumn */
.autumn {
  --portfolio-background: #8B4513;
  --portfolio-card-background: #FFA07A;
  --portfolio-card-border: #FF4500;
  --portfolio-text-primary: #FFFFFF;
  --portfolio-text-secondary: #8B0000;
}

/* Gold */
.gold {
  --portfolio-background: #FFD700;
  --portfolio-card-background:  #FFAB00;
  --portfolio-card-border:    #C2185B;
  --portfolio-text-primary: #4B2E2E;
  --portfolio-text-secondary: #df6102;
}

/* Royal */
.royal {
  --portfolio-background: #2A1A5E;
  --portfolio-card-background: #6A0DAD;
  --portfolio-card-border: #C71585;
  --portfolio-text-primary: #D4AF37;
  --portfolio-text-secondary: #FFFFFF;
}
/* #endregion */

/* Custom Transition */
.main-transition-color {
  @apply transition-colors duration-300 ease-in-out;
}

/* Custom CSS Classes */
.card-main-features {
  @apply max-w-full max-h-full bg-portfolio-card_background;
}
.card-main-paddings {
  @apply w-full h-full relative px-4 md:px-8 lg:px-6 pt-6 md:pt-8 lg:pt-8 2xl:pt-12 pb-6 md:pb-8 lg:pb-6 2xl:pb-8;
}

.copy-svg {
  @apply fill-portfolio-background w-5 h-5 group-hover:fill-portfolio-card_background;
}